<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" 
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Mercado Liebre</title>
</head>

<body class="home">
    <header>
        <div class="header-top">
            <div class="encabezado">
                <img src="images/logo-mercado-liebre.svg", alt="">
                <form action="/home">
                    <input class="buscar" type="text" placeholder="Buscar productos, marcas">
                    <button type="button"><i class="fas fa-search"></i></button>
                </form>
                
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>

        </div>
        
        <nav>
            <ul> 
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul >
                <li><a href="">Crear Cuenta <i class="far fa-address-card icon"></i> </a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
    
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    
    </header>
    <section>
        <img class="banner" src="images/img-home-banner.jpg" alt="" width="100%">
    </section>
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="productos">
            <article>
                <img src="images/img-cafetera-moulinex.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$6.770</p>
                        <span>40% off</span>        
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>   
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$230.000</p>
                        <span>20% off</span>
                    </div>
                    <h4>MacBook Pro 2019</h4>

                </div>
                
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$70.000</p>
                        <span>10% off</span>   
                    </div>
                    <h4>Samsung Galaxy S10</h4>

                </div>
                
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$23.200</p>
                        <span>5% off</span>
                    </div>
                    <h4>Smart TV Samsung 43"</h4>
                </div>
            </article>  
        </section>

        <h3>Ofertas</h3>

        <section class="productos">
            <article>
                <img src="images/img-cafetera-moulinex.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$6.770</p>
                        <span>40% off</span>        
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>   
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$230.000</p>
                        <span>20% off</span>
                    </div>
                    <h4>MacBook Pro 2019</h4>

                </div>
                
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$70.000</p>
                        <span>10% off</span>   
                    </div>
                    <h4>Samsung Galaxy S10</h4>

                </div>
                
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg", width="320">
                <div class="detail-product">
                    <div class="caja">
                        <i class="fas fa-truck"></i> 
                        <p>$23.200</p>
                        <span>5% off</span>
                    </div>
                    <h4>Smart TV Samsung 43"</h4>
                </div>
            </article>
            
        </section>

    </main>

    <footer>
        <section class="credit-card" >
            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div>
                <i class="fas fa-user-shield"></i>
                <h4 class="descripcion">Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>

        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
        

                   
    </footer>
    
        
</body>
</html>